{
    "token": "",
    "prefix": "?",
    "owners": [
        "139457768120647680"
    ],
    "db": {
        "dialect": "postgres",
        "hostname": "localhost",
        "logging": false,
        "port": 5432,
        "username": "namae",
        "password": "password",
        "database": "namae"
    },
    "commandGroups": [
        ["utils", "Utils"]
    ],
    "commandGroups": [
        ["utils", "Utils"],
        ["nerd", "Nerd"],
        ["tickets", "Tickets"]
    ],
    "tickets": {
        "reportToChannel": true,
        "channelId": "139457768120647680"
    },
    "google": {
        "apiKey": "",
        "music": {
            "defaultVolume": 1,
            "maxSongs": 6,
            "requiredVoteSkip": 2
        }
    }
}